[Unit]
Description=New Relic Plugin MeetMe
After=network.target remote-fs.target nss-lookup.target


[Service]
Type=notify
ExecStart=/etc/init.d/newrelic-plugin-agent start
ExecReload=/etc/init.d/newrelic-plugin-agent restart
ExecStop=/etc/init.d/newrelic-plugin-agent stop
Restart=always

[Install]
WantedBy=multi-user.target
